@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.wrapper {
    min-height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    font-family: "Roboto";
}

.container_background {
    background: url("../image/duotone.jpg");
    max-width: 1440px;
    min-height: 800px;
    background-size: cover;
}
.box {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 26px;
}
.above-menu {
    display: flex;
    margin-bottom: 27px;
    .logotype {
        margin-right: 236px;
        /*&::before {
            background-image: url(../image/);
        }*/
    }
    .boarding-hours {
        margin-right: 30px;
    }
    .call-us {
        margin-right: 32px;
    }
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin-bottom: 126px;
    padding-left: 40px; /*Ну просто по отдельности padding мне лично легче */
    padding-right: 48px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    border-radius: 10px;
    .menu__item-left,
    .menu__item-right {
        display: flex;
    }
    .menu__list {
        padding-right: 37px;
        &:last-child {
            padding-right: 0;
        }
        &:hover {
            text-decoration: underline;
            transition-duration: 1s;
        }
    }
    .menu__list_margin {
        padding-right: 22px;
    }
}

.main-tittle {
    margin-bottom: 48px;
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    padding-right: 276px;
}

.big-button__link {
    display: inline-block;
    background-color: #f2726f;
    font-size: 12px;
    font-weight: 500;
    padding: 11px 30px;
    text-align: center;
    line-height: 1.7;
    border-radius: 8px;
    transition-duration: 500ms;
    &:hover {
        background-color: #5d62b5;
    }
}

.main {
    background-color: #f5f5f5;
}
.who-we-are {
    position: relative;
}
.who-we-are__container {
    background-color: #5d62b5;
    max-width: 1020px;
    min-height: 700px; /*Просмотреть что там*/
    margin: 0 auto 230px;
    padding-top: 110px;
    padding-left: 87px;
    position: relative;
    top: -80px;
    border-radius: 40px;
    &::before {
        content: "";
        display: inline-block;
        background-image: url("../image/Blob-2.png");
        background-repeat: no-repeat;
        width: 665px; // Вот тут прям большой вопрос, А где всё таки брать размеры?Если беру из фигмы то изображение обрезано
        height: 591px;
        position: absolute;
        bottom: -150px;
        left: 40px;
    }
    &::after {
        content: "";
        display: inline-block;
        background-image: url("../image/Stylize-Circles.svg");
        width: 201px;
        height: 317px;
        position: absolute;
        right: -7.5%;
        top: -110px;
    }
    .who-we-are__item {
        position: relative; /*? Не знаю можно ли так */
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 33px;
        padding-left: 40px;
        &::before {
            display: block;
            content: "";
            background: url("../image/Mark.svg") 0 0 no-repeat;
            width: 18px;
            height: 20px;
            position: absolute;
            top: -8px;
            left: -5px;
        }
    }
    .who-we-are__text {
        color: #f5f5f5;
        line-height: 1.28;
        max-width: 846px;
        letter-spacing: 0.15px; /* уже не тупая копирка, просто так гараздо более похоже на макет:))))*/
        padding-bottom: 380px;
    }
}
.tittle {
    font-size: 36px;
    font-weight: 900;
    .tittle__who-we-are {
        max-width: 583px;
        margin-bottom: 36px;
    }
}
.dog__image {
    display: inline-block;
    max-width: 800px;
    max-height: 420px;
    position: absolute;
    z-index: 10;
    /*bottom: -50px;
    left: 280px;*/
    left: 50%;
    bottom: -150px;
    transform: translateX(-50%);
}
.blob__item {
    position: absolute;
    top: 275px;
    left: 45px;
    z-index: 5;
}
.circles__image {
    position: absolute;
    z-index: 30;
    top: -110px;
    left: 900px;
}

.our-promise {
    .our-promise__content {
        max-width: 1020px;
        margin: 0 auto 120px;

        .our-promise__sub-tittle {
            position: relative;
            color: #5d62b5;
            font-size: 12px;
            font-weight: 700;
            line-height: 1.7;
            padding-left: 25.5px;
            margin-bottom: 33px;
            &::before {
                display: block;
                content: "";
                background-image: url("../image/our-promise-icon.svg");
                width: 19px;
                height: 20px;
                position: absolute;
                top: -3px;
                left: -5px;
            }
        }
    }
    .our-promise__tittle {
        font-size: 36px;
        font-weight: 900;
        color: black;
        margin-bottom: 68px;
    }
    .advantages {
        .advantages__flex-content {
            display: flex;
            height: 148px;
            justify-content: space-between;
            color: black;
            .love-and-care {
                flex-basis: 324px;
                padding-left: 86px;
                position: relative;
                .love-and-care__image {
                    position: absolute;
                    width: 72px;
                    height: 72px;
                    left: 0;
                    top: -3px;
                }
                .love-and-care__tittle {
                    color: #f2726f;
                    font-weight: 900;
                    font-size: 19px;
                    line-height: 1.2;
                    margin-bottom: 20px;
                }
                .love-and-care__text {
                    line-height: 1.3;
                }
            }

            .on-site {
                flex-basis: 324px;
                padding-left: 86px;
                position: relative;
                .on-site__image {
                    width: 72px;
                    height: 72px;
                    position: absolute;
                    left: 0;
                    top: -3px;
                }
                .on-site__tittle {
                    color: #f2726f;
                    font-weight: 900;
                    font-size: 19px;
                    line-height: 1.2;
                    margin-bottom: 20px;
                }
                .on-site__text {
                    line-height: 1.3;
                }
            }
            .live-stream {
                flex-basis: 324px;
                padding-left: 86px;
                position: relative;
                .live-stream__image {
                    width: 72px;
                    height: 72px;
                    position: absolute;
                    left: 0;
                    top: -7px;
                }
                .live-stream__tittle {
                    color: #f2726f;
                    font-weight: 900;
                    font-size: 19px;
                    line-height: 1.2;
                    margin-bottom: 20px;
                }
                .live-stream__text {
                    line-height: 1.3;
                }
            }
        }
    }
}

.nemo-enim {
    .nemo-emin__box {
        position: relative;
        max-width: 1440px;
        min-height: 500px;
        background-color: #29c3be;
        margin-bottom: 300px;
        &::before {
            content: "";
            display: inline-block;
            background-image: url("../image/Blob-3.png");
            background-repeat: no-repeat;
            width: 474px;
            height: 350px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &::after {
            content: "";
            display: inline-block;
            background-image: url("../image/Stylize-Circles-2.svg");
            background-repeat: no-repeat;
            width: 236px;
            height: 318px;
            position: absolute;
            bottom: 65px;
            left: 0;
            z-index: 1;
        }
    }
    .tittle {
        .tittle__nemo-emin {
            min-height: 129px;
            padding-top: 112px;
            padding-left: 819px;
            padding-right: 210px;
            margin-bottom: 42px;
        }
    }
    .pup__image {
        position: absolute;
        bottom: 0;
        max-width: 744px;
        max-height: 490px;
        z-index: 3;
    }
    .nemo-emin__blob {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        max-width: 473.18px;
        max-height: 349.58px;
    }
    .nemo-enim__circles {
        position: absolute;
        left: 0;
        bottom: 60px;
        z-index: 1;
        max-width: 236px;
        max-height: 317px;
    }
    .big-button__pet {
        padding-left: 819px;
    }
}

.our-impact {
    .our-impact__box {
        font-size: 36px;
        background-color: #29c3be;
        position: relative;
        min-height: 608px;
        .our-impact__content {
            max-width: 1040px;
            margin: 0 auto;
            .our-impact__image {
                position: absolute;
                right: 210px;
                top: -80px;
            }
            .our-impact__sub-tittle {
                padding-top: 112px;
                padding-left: 25px;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 2.5px; /* Понимаю что это можно считать копиркой, но я лично не помню чтобы мы такое проходили */
                line-height: 2;
                text-transform: uppercase;
                position: relative;
                margin-bottom: 32px;
                &::before {
                    display: inline-block;
                    content: "";
                    background-image: url("../image/Mark.svg");
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    left: -5px;
                    bottom: 6px;
                }
            }
            .tittle {
                .tittle__our-impact {
                    font-weight: 900;
                    line-height: 1.2;
                    margin-bottom: 79px;
                    margin-right: 560px;
                }
            }
            .statistic {
                .statistic__flex {
                    display: flex;
                    justify-content: space-between;
                    .statistic__section {
                        position: relative;
                        flex-basis: 237px;
                        min-height: 80px;
                        padding-left: 87px;
                        margin-right: 24px;
                        &:last-child {
                            margin-right: 0;
                        }
                        .statistic__image {
                            width: 76px;
                            height: 76px;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
                .statistic__number {
                    font-weight: 900;
                    margin-bottom: 13px;
                }
                .statictic__info {
                    font-weight: 700;
                    color: #5d62b5;
                    font-size: 16px;
                }
            }
        }
    }
}
